<img class="animal-img" src="/" alt="">
<h1 class="animal-name"></h1>
<h1 class="sci-name"></h1>
<div class="stats">
  <div class="bar-chart">
    <svg class="bar-chart-svg has-filter"></svg>
  </div>
  <div class="pie-chart">
    <svg class="pie-chart-svg has-filter"></svg>
  </div>
</div>
