<img class="animal-img" src="/" alt="">
<h1 class="animal-name"></h1>
<h1 class="sci-name"></h1>
<div class="stats">
  <h1 class="stats-title">Image tag stats:</h1>
  <div class="charts">
    <div class="bar-chart">
      <svg class="bar-chart-svg has-filter"></svg>
    </div>
    <div class="pie-chart">
      <svg class="pie-chart-svg has-filter">
        <filter id="blur">
          <fegaussianblur stddeviation="5"/>
        </filter>
      </svg>
    </div>
  </div>
</div>
<div class="no-stats-filler">
  <h2 class="stats-title">No one has tagged this photo</h2>
  <h2 class="stats-subtitle">Be the first at go.ncsu.edu/emammallite</h2>
</div>
