<div class="immersion-wrapper">
  <div class="panel-left">
    <%= image_tag("immersion/immersion-logo.png", alt: "eMammal Lite logo", class: "immersion-logo") %>
  </div>
  <div class="panel-center">

  </div>
  <div class="panel-right">
    <div class="top-scores">

    </div>
    <div class="global-accuracy">

    </div>
    <div class="global-top-identified">

    </div>
  </div>
</div>
<!-- Testing overlay TODO: REMOVE FOR PRODUCTION -->
<!-- <div class="test-wrapper"></div> -->
