<div class="info-drop-down">
  <div class="info-drop-down-header">
    <div class="header-page-icon">
      <%= image_tag(yield(:icon), alt: "identify icon", class: "center-img-resposive") %>
    </div>
  </div>
  <div class="info-drop-down-text">
    <h1 class="lg-text"><%= yield(:header_text) %></h1>
    <p class="body-text"><%= yield(:info_text) %></p>
    <div class="flex-column-center">
      <button class="close-drop-down emammal-btn light-btn bold-text xl-text" type="button" name="button">Got it</button>
    </div>
  </div>
</div>
