<% provide(:header_text, "IDENTIFY")%>
<%= render 'layouts/header' %>
<div class="id-page page-with-header flex-column-center">
  <div class="card-container flex-column-center">
    <div class="card flex-column-center">
      <%= image_tag(@photo.source, alt: "eMammal Lite", class: "center-img-resposive") %>
    </div>
  </div>
  <div class="score-container">

  </div>
</div>
