<h2 class="project-header body-text light-text bold-text map-data"  data-url="<%= [@photo.project.lon, @photo.project.lat] %>">
  Project
</h2>
<h2 class="project-name body-text light-text">
  <%= @photo.project.name %>
</h2>
