<div class="card-results-header" data-url="<%= @photo.stats.to_json %>">
  <h1 class="sm-header">Results are in</h1>
  <!-- <h2 class="xs-text">see how you compare</h2> -->
</div>
<div class="bar-chart">
  <svg class="bar-chart-svg has-filter"></svg>
</div>
<div class="pie-chart">
  <svg class="pie-chart-svg has-filter"></svg>
</div>
<div class="results-table">
  <h3 class="xs-text"><span class="pie-table"></span> &#37; Correct</h3>
  <h3 class="xs-text"><span class="pie-table"></span> &#37; Incorrect</h3>
  <h3 class="xs-text"><span class="pie-table"></span> &#37; Skipped</h3>
</div>
