<% @photos.first(30).each_with_index do |photo, number| %>
    <%= link_to image_tag("https://s3.amazonaws.com/emammalphoto/#{photo.source}_o.jpg", alt: "eMammal Lite", class: "sm-img"), photo_path(photo), class: "img-box", remote: true %>
    <!-- <div class="img-box">
      <%= image_tag("https://s3.amazonaws.com/emammalphoto/#{photo.source}_o.jpg", alt: "eMammal Lite", class: "sm-img img-#{number}") %>
    </div> -->
<% end %>
