// Place all the styles related to the Immersion controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$immersion-width: 6816px;
$immersion-height: 2240px;

$tile-width: 426px;
$tile-height: 320px;

$grid-columns: 16;
$grid-rows: 7;

.immersion-page {
  display: flex;
  flex-direction: row;
  width: $immersion-width;
  height: $immersion-height;

  .panel-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $tile-width * 3;
    height: $immersion-height;
    background-color: $BioIndigo;
    overflow: hidden;

    .immersion-logo {
      width: 940px;
    }

    .emammal-info {
      margin-top: 50px;
      padding-left: $tile-width / 2;
      padding-right: $tile-width / 2;
      font-size: 46px;
      color: white;
    }

    .ribbon {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: $tile-height - 178px;
      right: $tile-width * 13;
      width: 90px;
      overflow: hidden;

      .ribbon-1 {
        height: 178px;
        width: 100%;
        background-color: $PyromanFlame;
        z-index: 1;
      }

      .ribbon-2 {
        height: 178px;
        width: 100%;
        background-color: #ac3517;
        transform: rotate(-35deg);
        transform-origin: top left;
        z-index: 0;
      }
    }
  }

  // Animal image background for center panel
  .panel-center-background {
    position: absolute;
    left: $tile-width * 3 - 20px;
    width: $tile-width * 11 + 40px;
    height: $immersion-height;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    pointer-events: none;

    .project-background-img {
      width: 100%;
      filter: blur(20px) brightness(0.7);
      z-index: -100;
    }
  }

  .panel-center {
    display: flex;
    flex-direction: row;
    width: $tile-width * 11;
    height: $immersion-height;

    .project-info-immersion {
      display: flex;
      flex-direction: column;
      width: $tile-width * 4;
      height: 100%;

      .project-banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;
        height: $tile-height;

        .project-name-immersion {
          padding-top: 32px;
          padding-bottom: 42px;
          padding-left: 18px;
          background-color: #D14905;
          font-size: 86px;
          font-weight: bold;
          color: white;
        }
      }

      .project-description {
        width: 100%;
        height: $tile-height;

        .project-description-text {
          font-size: 40px;
          color: white;
          padding-left: 90px;
          padding-right: 90px;
        }
      }

      .map {
        width: 100%;
        height: $tile-height * 3.5;

        svg {
          width: 100%;
          height: 100%;

          .map-path {
            fill: #fff;
            opacity: 0.75;
          }

          .map-pin {
            visibility: hidden;

            .pin-outer {
              fill: $PyromanFlame;
            }

            .pin-inner {
              fill: #fff;
            }
          }
        }
      }
    }

    .cards-and-link-container {
      display: flex;
      flex-direction: column;
      width: $tile-width * 7;
      height: $immersion-height;

      .participate-link-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: $tile-height;
        text-align: right;

        .heading-style {
          font-weight: bold;
          color: white;
          letter-spacing: 8px;
          margin-top: 0;
          margin-bottom: 0;
          margin-right: 54px;
        }

        .main-heading {
          font-size: 72px;
        }

        .sub-heading {
          font-size: 68px;
        }
      }

      .card-carousel {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: $tile-height * 5;
        overflow: hidden;

        .cards {
          position: absolute;
          left: $tile-width * 14;
          width: $tile-width * 2;
          height: $tile-height * 4;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: center;
          background-color: $BioIndigo;
          color: white;
          z-index: -1;
          flex-shrink: 0;
          transform: translateX(0) scale(0.25);
          animation-duration: 10s;

          .animal-img {
            width: 100%;
            height: auto;
          }

          .animal-name {
            font-size: 72px;
            text-align: center;
            margin-bottom: 0;
          }

          .sci-name {
            font-size: 63px;
            font-style: italic;
            text-align: center;
          }
        }

        @keyframes carouselAnimation {
          0% {
            transform: translateX(0) scale(0.5);
          }
          25% {
            transform: translateX(-$tile-width * 2.5) scale(0.5);
          }
          30% {
            transform: translateX(-$tile-width * 3) scale(1);
          }
          70% {
            transform: translateX(-$tile-width * 7) scale(1);
          }
          75% {
            transform: translateX(-$tile-width * 7.5) scale(0.5);
          }
          100% {
            transform: translateX(-$tile-width * 10) scale(0.5);
          }
        }

        .animate-card {
          animation-name: carouselAnimation;
          animation-iteration-count: 1;
          animation-direction: normal;
          animation-timing-function: linear;
        }


      }
    }
  }

  .panel-right {
    display: flex;
    flex-direction: column;
    width: $tile-width * 2;
    height: $immersion-height;

    .top-scores {
      width: 100%;
      height: $tile-height * 2;
      background-color: #F1A33A;
    }

    .global-accuracy {
      width: 100%;
      height: $tile-height * 2;
      background-color: #E37637;
    }

    .global-top-identified {
      width: 100%;
      height: $tile-height * 3;
      background-color: $PyromanFlame;
    }
  }
}

// Add a grid simulating the tiles and a
// transparent image as an overlay TODO: REMOVE FOR PRODUCTION
.test-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: $immersion-width;
  height: $immersion-height;
  z-index: 666;

  pointer-events: none;

  .transparent-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: $immersion-width;
    height: $immersion-height;
    background-image: image-url("immersion/immersion-test.jpg");
    opacity: 0.25;
  }

  .tile {
    box-sizing: border-box;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    background-color: none;
  }

  @for $i from 1 through ($grid-columns * $grid-rows) {
    .tile-#{$i - 1} {
      width: $tile-width;
      height: $tile-height;
      float: left;
    }
  }
}
