/* Universal */
body {
  font-family: UniversLight, sans-serif;
  background-color: white;
  overflow-x: hidden;
  margin: 0;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.visible {
  transition: 1s;
  opacity: 1;
  visibility: visible !important;
}

.hidden {
  transition: 1s;
  opacity: 0;
  visibility: hidden !important;
}

.no-transition {
  transition: none !important;
}

/* Colors for graphics*/
.color-correct {
  fill: $BioIndigo;
}

.color-incorrect {
  fill: $PyromanFlame;
}

.color-skipped {
  fill: #909090;
}

/* Links */
a {
  color: $BioIndigo;
}

/* Images */
.center-img-resposive {
  max-width: 100%;
  max-height: 100%;
}


/* Text */
.xl-header {
  font-family: UniversRoman, sans-serif;
  font-size: 42px;
  font-weight: normal;
}

.lg-header {
  font-size: 35px;
  font-weight: normal;
}

.sm-header {
  font-size: 24px;
  font-weight: normal;
}

.xl-text {
  font-size: 20px;
  font-weight: normal;
}

.lg-text {
  font-size: 18px;
  font-weight: normal;
}

.body-text {
  font-size: 16px;
  font-weight: normal;
}

.xs-text {
  font-size: 14px;
  font-weight: normal;
}

.light-text {
  font-family: UniversLight, sans-serif;
}

.bold-text {
  font-weight: bold;
}

.oblique-text {
  font-style: italic;
}

.no-margin-text {
  margin: 0;
}

/* Text input styles */
.emammal-text-input {
  border-style: solid;
  border-width: thin;
  border-radius: 2em;
  border-color: lighten($BioIndigo, 40%);
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 8px lighten($BioIndigo, 40%);
  }
}

/* Button styles */
.emammal-btn {
  padding: 5px 6px;
  width: 155px;
  text-align: center;

  border-style: solid;
  border-width: thin;
  border-radius: 2em;
  text-decoration: none;

  &:focus, &:active:focus, &:focus:visited {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    background-color: lighten($BioIndigo, 8%);
    color: white;
    text-decoration: none;
  }
}

.light-btn {
  border-color: $BioIndigo;
  background-color: white;
  color: $BioIndigo;

  &:focus, &:active, &:active:focus {
    background-color: $BioIndigo;
    color: white;
  }
}

.dark-btn {
  border-color: white;
  background-color: $BioIndigo;
  color: white;

  &:focus, &:active, &:active:focus {
    background-color: white;
    color: $BioIndigo;
  }
}


/* Next arrow flash animation*/
@keyframes nextArrowFlash {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.5;
  }
}

.flash {
  animation-duration: 1s;
  animation-name: nextArrowFlash;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}


/*Flash messages*/
#error_explanation {
  color: $PyromanFlame;
  background-color: transparent;

  @include media("<=tablet") {
    width: 100%;
    padding: 16px;
  }
  @include media(">tablet") {
    top: 110px;
  }
}

.alert {
  padding: 16px;
  position: absolute;
  z-index: 100;
  text-align: left;

  transition-duration: 0.5s;
  transition-delay: 4s;

  a {
    text-decoration: none;
  }

  @include media("<=tablet") {
    top: 0;
    left: calc(5vw - 8px);
    width: Calc(90vw - 16px);
  }

  @include media(">tablet") {
    top: 110px;
    left: calc(15% - 8px);
    width: calc(70% - 16px);
    border-radius: 15px;
    border-style: solid;
    border-width: thin;
  };
}

.alert.fade-out {
  opacity: 0;
}

.alert-error {
    background-color: transparentize(white, 0.1);
    border-color: $BioIndigo;
    color: $BioIndigo;
 }

.alert-alert {
    background-color: transparentize(white, 0.1);
    border-color: $BioIndigo;
    color: $BioIndigo;
 }

.alert-success {
    background-color: transparentize(white, 0.25);
    border-color: $PyromanFlame;
    color: $PyromanFlame;
 }

.alert-notice {
    background-color: transparentize(white, 0.25);
    border-color: $PyromanFlame;
    color: $PyromanFlame;
 }


/*
  Classes to handle blur and click-prevention when menus/dropdowns are open or
  when photo is zoomed
*/
.will-blur, .will-blur-photo, .will-blur-archive-photo {
  filter: blur(0);

  transition-property: filter;
  transition-duration: .5s;

  &.blur {
    filter: blur(3px);
  }
}

.prevent-click {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

/* Header & page with header */

.header {
  width: 100%;
}

.page-with-header {
  width: 100vw;
}

@include media("<=tablet") {
  .desktop-header {
    display: none;
  }

  .header-page-icon-desktop {
    display: none;
  }

  .mobile-header {
    width: 100%;
    height: 15vh;
    align-items: center;

    .header-menu-btn {
      margin-left: 6%;
      width: 11.5vw;

      .menu-btn {
        width: 100%;
        max-width: 58px;
        cursor: pointer;
      }
    }

    .header-page-title {
      width: 65.2%;
      color: $BioIndigo;
      text-align: center;

      .header-text {
        margin: 0;
      }
    }

    .header-page-icon {
      width: 5vw;
      height: auto;
      margin-right: 12.3%;
      cursor: pointer;

      img {
        width: 100%;
        max-width: 57px;
        height: auto;
      }
    }
  }

  .page-with-header {
    height: 85vh;
    min-height: 482px;
  }
}

@include media(">tablet") {
  .mobile-header {
    display: none;
  }

  .desktop-header {
    display: flex;
    height: 110px;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba($BioIndigo, 0.3);
    justify-content: space-between;
    align-items: center;

    .current-link {
      color: $BioIndigo !important;
      cursor: default;
    }

    .logo-left {
      display: flex;
      height: 30%;
      width: 30%;
      margin-left: 3.3%;
      justify-content: flex-start;
      align-items: center;
      color: $BioIndigo;

      .logo-text {
        margin-left: 5px;
        white-space: nowrap;
      }

      .logo-border-right {
        width: 1.15vw;
        margin-right: 1.15vw;
        height: 100%;
        border-right-style: solid;
        border-right-width: thin;
        border-right-color: $BioIndigo;
      }

      .ancillary-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        cursor: pointer;

        .link {
          margin-top: 4px;
          margin-bottom: 4px;
          text-decoration: none;
          color: $BioIndigo;

          &:hover {
            color: $PyromanFlame;
          }
        }
      }
    }

    .main-links-user-icon-holder {
      width: 70%;
      height: 100%;
      display: flex;
      margin-right: 3.3%;
      justify-content: flex-end;
      align-items: center;

      .link {
        margin-left: 4vw;
        text-decoration: none;
        color: $BioIndigo;
        cursor: pointer;

        &:hover {
          color: $PyromanFlame;
        }
      }

      .user-info {
        height: 100%;
        margin-left: 6vw;
        justify-content: center;
        color: $BioIndigo;

        .user-name {
          text-align: center;
        }

        .user-icon {
          height: 40%;
        }

        a {
          text-decoration: none;

          &:hover {
            color: $PyromanFlame;
          }
        }
      }
    }

    .header-page-title {
      color: $BioIndigo;
    }
  }

  .page-with-header {
    height: calc(100vh - 110px);
    background-image: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.95)), image-url("background@0.5x.png");
    background-repeat: repeat;
    background-size:auto;
  }
}


/* Menu */

.menu {
  position: absolute;
  top: 0;
  right: 100%;
  height: 100vh;
  width: 69.6%;
  max-width: 300px;
  background-color: white;

  visibility: hidden;
  transition: 0.6s ease-in-out;
  transform: translateX(0);

  a {
    text-decoration: none;
  }

  .menu-header {
    display: flex;
    width: 100%;
    height: 15%;
    align-items: center;
    justify-content: space-between;

    .small-logo {
      display: flex;
      height: 100%;
      margin-left: 8.8%;
      align-items: center;
      justify-content: flex-start;

      .logo {
        height: 30%;
        width: 25%
      }

      .menu-title {
        width: 75%;
        margin-left: 8px;
        color: $PyromanFlame;
        line-height: 14px;

        small {
          font-size: small;
        }
      }
    }

    .menu-menu-btn {
      display: flex;
      align-items: center;
      height: 100%;
      margin-right: 9.6%;

      .menu-btn {
        width: 11.5vw;
        max-width: 58px;
        cursor: pointer;
      }
    }
  }

  .menu-user-info {
    width: auto;
    height: 17.5%;
    align-items: center;
    background-color: $PyromanFlame;
    color: white;

    .user-icon {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      margin-left: 8.8%;
    }

    .user-name {
      margin-left: 6.2%;
      margin-right: 8.8%;
      line-height: 1.5;
    }
  }

  .menu-nav-container {
    width: auto;
    height: 60%;

    .menu-nav {
      margin-top: 6.7%;
      padding-left: 8.8%;
      width: 91.2%;
      height: 70%;
      align-items: flex-start;
      justify-content: space-between;
      color: $PyromanFlame;
      list-style: none;

      .menu-list-item {
        height: 8.8%;
        display: flex;
        align-items: center;

        .menu-icon {
          width: 13%;
          height: 20px;
          fill: $PyromanFlame;
        }

        .menu-text {
          margin-left: 12px;
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      a {
        color: $PyromanFlame;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}

.menu.pull-right {
  visibility: visible;
  transform: translateX(100%);
}


/* Info Drop Down */

.info-drop-down {
  position: absolute;
  background-color: white;
  color: $BioIndigo;

  @include media("<=tablet") {
    bottom: 100%;
    width: 100%;
    height: auto;
    padding-bottom: 8%;

    transition: 0.6s ease-in-out;
    transform: translateY(0);
  }

  @include media(">tablet") {
    top: 110px;
    right: 100%;
    width: 350px;
    z-index: 200;

    height: calc(100vh - 110px);

    transition: 0.6s ease-in-out;
    transform: translateX(0);
  }

  .info-drop-down-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .header-page-icon {
        height: auto;
        cursor: pointer;

        img {
          width: 100%;
          max-width: 57px;
          height: auto;
        }
      }

      @include media("<=tablet") {
        height: 15vh;

        .header-page-icon {
          width: 5vw;
          margin-right: 12.3%;
        }
      }


      @include media(">tablet") {
        .header-page-icon {
          margin-top: 25px;
          width: 25px;
          margin-right: calc(-3.3vw - 25px);
          transition-duration: 0.3s;
          transition-timing-function: ease;
        }

        .header-page-icon.open {
          margin-right: 12.3%;
        }
      }
  }

  .info-drop-down-text {
    width: 60%;
    min-width: 235px;
  }

  .close-drop-down {
    justify-content: center;
    width: 86px;
    margin-top: 12px;
  }
}

.info-drop-down.pull-down {
  @include media("<=tablet") {
    transform: translateY(100%);
  }

  @include media(">tablet") {
    transform: translateX(100%);
  }
}
