/* Universal */
body {
  font-family: UniversLight, sans-serif;
  background-color: white;
  overflow-x: hidden;
  margin: 0;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.visible {
  visibility: visible !important;
}

.hidden {
  visibility: hidden !important;
}

.no-transition {
  transition: none !important;
}

/* Links */
a {
  color: $BioIndigo;
}

/* Images */
.center-img-resposive {
  max-width: 100%;
  max-height: 100%;
}


/* Text */
.xl-header {
  font-family: UniversRoman;
  font-size: 42px;
}

.lg-header {
  font-size: 35px;
}

.sm-header {
  font-size: 24px;
}

.xl-text {
  font-size: 20px;
}

.lg-text {
  font-size: 18px;
}

.body-text {
  font-size: 16px;
}

.xs-text {
  font-size: 14px;
}

.light-text {
  font-family: UniversLight;
}

.bold-text {
  font-weight: bold;
}

.oblique-text {
  font-style: italic;
}

.no-margin-text {
  margin: 0;
}

/* Text input styles */
.emammal-text-input {
  border-style: solid;
  border-width: thin;
  border-radius: 2em;
  border-color: lighten($BioIndigo, 40%);
  padding-left: 2px;

  &:focus {
    outline: none;
    box-shadow: 0px 0px 8px lighten($BioIndigo, 40%);
  }
}

/* Button styles */
.emammal-btn {
  padding: 2%;
  text-align: center;

  border-style: solid;
  border-width: thin;
  border-radius: 2em;

  &:focus, &:active:focus, &:focus:visited {
    outline: none;
    text-decoration: none;
  }

  &:hover {
    background-color: lighten($BioIndigo, 8%);
    color: white;
    text-decoration: none;
  }
}

.light-btn {
  border-color: $BioIndigo;
  color: $BioIndigo;

  &:focus, &:active, &:active:focus {
    background-color: $BioIndigo;
    color: white;
  }
}

.dark-btn {
  border-color: white;
  background-color: $BioIndigo;
  color: white;

  &:focus, &:active, &:active:focus {
    background-color: white;
    color: $BioIndigo;
  }
}

/*
  Classes to handle blur and click-prevention when menus/dropdowns are open or
  when photo is zoomed
*/
.will-blur, .will-blur-photo {
  filter: blur(0);

  transition-property: filter;
  transition-duration: .5s;

  &.blur {
    filter: blur(3px);
  }
}

.prevent-click {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

/* Header & page with header */

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header-page-title {
  text-align: center;
}

.menu-btn {
  width: 100%;
  max-width: 58px;
  cursor: pointer;
}

.page-with-header {
  width: 100vw;
}

@include media("<=tablet") {

  .header {
    height: 15vh;
  }

  .header-menu-btn {
    margin-left: 6%;
    width: 11.5vw;
    margin-top: 5.25vh;
  }

  .header-page-title {
    width: 65.2%;
    color: $BioIndigo;
    margin-top: 6.9vh;

    .header-text {
      margin: 0;
    }
  }

  .header-page-icon {
    width: 5vw;
    height: auto;
    margin-right: 12.3%;
    margin-top: 6.9vh;
    cursor: pointer;

    img {
      width: 100%;
      max-width: 57px;
      height: auto;
    }
  }

  .page-with-header {
    height: 85vh;
  }
}

@include media(">tablet") {

  .header {
    height: 110px;
    background-color: white;
    box-shadow: 3px 3px 5px rgba($BioIndigo, 0.3);
  }

  .header-menu-btn, .header-page-icon {
    display: none;
  }

  .header-page-title {
    color: $BioIndigo;
  }

  .page-with-header {
    height: calc(100vh - 110px);
    background-image: linear-gradient(rgba(255,255,255,0.95),rgba(255,255,255,0.95)), url("background-pattern-01.png");
    background-repeat: repeat;
    background-size: contain;
  }
}


/* Menu */

.menu {
  position: absolute;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 69.6%;
  max-width: 300px;
  background-color: white;

  .menu-header {
    width: auto;
    height: 15%;

    .small-logo {
      width: 10.3%;
      height: auto;
      float: left;
      margin-top: 6.9vh;
      margin-left: 8.8%;
    }

    .menu-title {
      margin-top: 6.9vh;
      padding-left: 2%;
      float: left;
      color: #D14905;
    }

    .menu-menu-btn {
      width: 11.5vw;
      margin-top: 5.25vh;
      margin-right: 9.6%;
      float: right;
    }
  }

  .menu-user-info {
    width: auto;
    height: 17.5%;
    align-items: center;
    background-color: $PyromanFlame;
    color: white;

    .user-icon {
      width: 54px;
      height: 54px;
      border-radius: 50%;
      margin-left: 8.8%;
    }

    .user-name {
      margin-left: 6.2%;
      margin-right: 8.8%;
      line-height: 1.5;
    }
  }

  .menu-nav-container {
    width: auto;
    height: 67.5%;

    .menu-nav {
      margin-top: 6.7%;
      padding-left: 8.8%;
      width: 100%;
      height: 70%;
      align-items: flex-start;
      justify-content: space-between;
      color: $PyromanFlame;
      list-style: none;

      .menu-list-item {
        height: 8.8%;
        display: flex;
        align-items: center;

        .menu-icon {
          width: 13%;
          height: 100%;
          fill: $PyromanFlame;
        }

        .menu-text {
          margin-left: 12px;
          margin-top: 4px;
          margin-bottom: 0;
        }
      }

      a {
        text-decoration: none;
        color: $PyromanFlame;

        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}


/* Info Drop Down */

.info-drop-down {
  position: absolute;
  top: -100%;
  width: 100%;
  height: auto;
  background-color: white;
  color: $BioIndigo;

  .info-drop-down-header {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height: 15vh;
    width: 100%;
  }

  .info-drop-down-text {
    margin-top: 64px;
    margin-bottom: 82px;
    margin-left: 20%;
    margin-right: 20%;
  }
}
