// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Landing page */

@include media("<=tablet") {
  .landing-header {
    display: none;
  }
}

@include media(">tablet") {
  .landing-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .desktop-header {
      background-color: transparent;
      box-shadow: none !important;

      .logo-text, .link {
        color: white !important;
      }

      .logo-border-right {
        border-right-color: white !important;
      }
    }

    .desktop-header.with-about {
      transition-duration: 2s;
      background-color: rgba(255,255,255,.7);

      .logo-text, .link {
        transition-duration: 2s;
        color: $BioIndigo !important;
      }

      .logo-border-right {
        transition-duration: 2s;
        border-right-color: $BioIndigo !important;
      }
    }
  }
}

.landing {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  justify-content: space-around;

  .dog-ear {
    position: absolute;
    top: 0;
    right: 0;

    justify-content: flex-end;

    .dog-ear-text {
      color: white;
    }
  }

  .down-arrow, .up-arrow {
    left: calc((100% - 11.5%) / 2);
    width: 11.5%;
    max-width: 88px;
    height: auto;
    cursor: pointer;

    path {
      transition-property: opacity;
      transition-duration: 0.5s;
    }

    &:hover {
      path {
        opacity: 1;
      }
    }
  }

  @include media("<=tablet") {

    $sideLength: 112px;
    .dog-ear {
      background-color: $PyromanFlame;
      width: $sideLength;
      height: $sideLength;
      transform: translate($sideLength / 2, $sideLength / -2) rotate(45deg);

      .dog-ear-text {
        font-size: 16px;
        letter-spacing: 6px;
        margin-bottom: 6px;
      }
    }

    .emammal-logo {
      width: 71.5vmin;
      margin-top: 9.8%;

      .logo-desktop {
        display: none;
      }

      .logo-text {
        color: $PyromanFlame;
        text-align: center;
        margin-top: 8.6%;
      }
    }

    .down-arrow {
      margin-bottom: 2.5%;
    }

    .up-arrow {
      display: none;
    }
  }

  @include media(">tablet") {
    overflow-y: hidden;
    background-image: url("https://s3.amazonaws.com/emammalphoto/d17145s11i5_o.jpg");
    background-size: cover;
    background-position: center;

    $sideLength: 200px;
    .dog-ear {
      background-color: $BioIndigo;
      width: $sideLength;
      height: $sideLength;
      transform: translate($sideLength / 2, $sideLength / -2) rotate(45deg);

      .dog-ear-text {
        font-size: 32px;
        letter-spacing: 6px;
        margin-bottom: 18px;
      }
    }

    .emammal-logo {
      width: 24.4%;
      margin-top: 9.8%;

      .logo-mobile {
        display: none;
      }

      .logo-text {
        color: white;
        text-align: center;
        margin-top: 8.6%;
      }
    }

    .lib-logo {
      display: none;
    }

    .up-arrow {
      transform-origin: center;
      transform: rotateX(180deg);

      path {
        opacity: 1;
      }
    }

    .down-arrow {
      display: none;
    }
  }
}


/* Landing About page */

.about {
  width: 100vw;
}

@include media("<=tablet") {
  .about {
    height: 100vh;
    color: $BioIndigo;
  }

  .about-container {
    padding-top: 6.6%;
    width: 76%;
    margin-bottom: 11.2%;

    .about-title {
      margin-top: 0;
    }

    .about-body {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  .begin-btn {
    width: 155px;
  }
}

@include media(">tablet") {
  .about {
    position: absolute;
    top: 100vh;
    height: 80.5vh;
    color: white;
    background-image: linear-gradient(rgba(209,73,5,0.95),rgba(209,73,5,0.95)), url("background-pattern-01.png");
    background-repeat: repeat;
    background-size: contain;
    background-color: $PyromanFlame
  }

  .about.bring-to-top {
    transition-duration: 1s;
    transform: translateY(calc(-100vh + 120px));
  }

  .about-container {
    padding-top: 2%;
    width: 42.7%;
    min-width: 728px;

    .about-title {
      margin-top: 0;

      h1 {
        font-size: 68px;
      }
    }

    .about-body {
      font-size: 28px;
      line-height: 1.5;

      p {
        font-size: 28px;
      }
    }
  }

  .begin-btn {
    font-size: 28px;
    margin-top: 2%;
    width: 155px;
    border-color: white;
    background-color: $PyromanFlame;
    color: white;

    &:hover, &:active, &:focus {
      color: $PyromanFlame;
      background-color: white;
    }
  }
}

/* Log in and sign in shared*/

.login-logo {
  max-height: 15%;
  max-width: 155px;
}

.login-text-input {
  margin-top: 8px;
  margin-bottom: 8px;
}

.signup-or-guest {
  a {
    text-decoration: none;
  }

  span {
    color: lighten($BioIndigo, 30%)
  }
}


/* Log in page*/

.login-page {
  @include media("<=tablet") {
    justify-content: flex-start;
  }

  @include media(">tablet") {
    justify-content: center;
  }

  .login-form-container {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;

    .remember-me-check {
      margin-top: 8px;
      margin-bottom: 24px;
      color: $BioIndigo
    }

  }
}


/* Sign up page*/

.signup-page {
  @include media("<=tablet") {
    justify-content: flex-start;
  }

  @include media(">tablet") {
    justify-content: center;
    overflow-y: visible;

    .mobile-only {
      display: none
    }
  }

  .signup-form-container {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;

    h2 {
      margin-top: 8px;
      margin-bottom: 4px;
      color: $BioIndigo;
    }

    .mobile-only {
      margin-top: 0;
    }

    .animal-icon-select {
      @include media("<=tablet") {
        overflow-x: scroll;
        height: 20vh;
        padding: 20px;
        width: 70%;
        justify-content: flex-start;

        .animal-icon {
          width: 18vw;
          margin-left: 10px;
          margin-right: 10px;
        }
      };

      @include media(">tablet") {
        width: 50%;
        max-width: 500px;
        height: 7vh;
        justify-content: center;
        flex-wrap: wrap;

        .animal-icon {
          width: 75px;
          margin-left: 10px;
          margin-right: 10px;
        }
      };

      display: flex;
      flex-direction: row;
      align-items: center;
      -webkit-overflow-scrolling: touch;

      .no-display {
        display: none;
      }

      .icon-holder {
        display: flex;
        align-items: center;
        overflow: visible;
      }

      .animal-icon {
        cursor: pointer;

        transform-origin: center;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        transform: scale(1);
        filter: grayscale(1);

        &:hover {
          filter: grayscale(0);
        }
      }

      .animal-icon.active {
        transform: scale(1.2);
        filter: grayscale(0);
        z-index: 100;
      }
    }

    .signup-btn {
      @include media("<=tablet") {
        margin-top: 12px;
      }

      @include media(">tablet") {
        margin-top: 102px;
      }
    }
  }
}


/* Learn More page */

.learn-more {
  width: 100vw;
  color: $BioIndigo;

  a {
    word-wrap: break-word;
  }
}

.learn-more-container {
  width: 76%;

  .learn-more-title {
    margin-top: 0;
  }

  .learn-more-body {
    font-size: 14px;
    line-height: 1.5;
  }

  footer {
    margin-top: 35px;
    margin-bottom: 35px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .lib-logo {
      height: 75%;
    }
  }
}

.begin-btn {
  width: 155px;
}


/* identify page */

.card-container {
  width: 100%;
  align-items: center;
  perspective: 1000px;
}

.card {
  will-change: transform;
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 100%;
  // margin-left: 6.6%;
  color: white;
  box-shadow: 3px 3px 5px rgba($BioIndigo, 0.3);
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  perspective-origin: center;

  transition-property: transform, box-shadow;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);

  .front, .back {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $BioIndigo;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
    transform: translateZ(1px);
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
}

.skip-container {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 5px;
  color: #4156A1;

  .skip-text {
    text-align: right;
    margin-top: 10px;
    opacity: 0.64;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus {
      opacity: 1;
      text-decoration: none;
      outline: none;
    }
  }
}

.next-arrow {
  cursor: pointer;
  visibility: hidden;

  position: absolute;
  right: 0;
  width: 11%;
  height: 75vh;
  justify-content: center;

  svg {
    width: 25%;
    fill: none;
    opacity: 0.6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 50;
    stroke: #4156A1;

    &:hover {
      opacity: 1;
    }
  }
}

@include media("<=tablet") {
  .card-container {
    height: 75vh;
    min-height: 426px;
    // max-height: 650px;

    .card {
      width: 42.3vh;
      max-width: 86.6%;
      min-width: 235px;
      min-height: 426px;
      flex-direction: column;
      align-items: center;

      &.flipped {
        box-shadow: -3px 3px 5px rgba($BioIndigo, 0.3);
        transform: rotateY(180deg);
      }

      .front, .back {
        flex-direction: column;
      }

      .back {
        transform: rotateY(180deg);
        align-items: center;
        align-content: center;

        .right-wrong-icon-container {
          position: absolute;
          height: 23.5%;
          width: 100%;
          top: 13%;

          .right-wrong-icon {
            width: 41.8%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
          .right-wrong-header {
            margin-top: 5%;
            text-align: center;
          }
        }

        .right-wrong-text {
          position: absolute;
          bottom: 10.8%;
          width: 100%;
          text-align: center;
        }
      }

      .id-card-img {
        height: 42.3%;
        width: auto;

        .current-img {
          max-height: 100%;
          width: 100%;
        }
      }

      .id-card-choice-container {
        height: 57.7%;
        width: 100%;

        .id-card-header {
          height: 31%;
          width: auto;
          justify-content: space-around;

          .main-header {
            margin-top: 12px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 0;
            margin-bottom: 24px;
          }
        }

        .id-card-answer {
          width: 100%;
          height: 100%;
          text-align: center;

          .main-header {
            margin-top: 8px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 4px;
            margin-bottom: 0;
          }

          .map {
            width: 100%;
            height: 60%;

            svg {
              width: 100%;
              height: 100%;

              .map-path {
                fill: #fff;
                opacity: 0.5;
              }

              .map-pin {
                visibility: hidden;

                .pin-outer {
                  fill: $PyromanFlame;
                }

                .pin-inner {
                  fill: #fff;
                }
              }
            }
          }

          .project-info {
            position: absolute;
            bottom: 0;
            left: 0;

            margin-left: 20px;
            margin-right: 20px;

            .project-header {
              margin-bottom: 4px;
              text-align: left;
            }

            .project-name {
              margin-top: 0px;
              margin-bottom: 8px;
              text-align: left;
            }
          }
        }

        .id-card-choices {
          height: 69%;
          width: 100%;
          justify-content: space-between;

          .choice-form {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding-bottom: 11%;

            .choice-btn {
              width: 72%;
              height: 28%;
              min-height: 48px;
            }
          }
        }
      }
    }
  }

  .score-container {
    height: 10vh;
    width: 100%;
    color: $BioIndigo;
    justify-content: center;
    pointer-events: none;
  }
}

@include media(">tablet") {
  .card-container {
    height: 90%;

    .card {
      flex-direction: row;
      // height: auto;
      width: 63.5%;
      max-width: 950px;
      min-width: 628px;

      &.flipped {
        box-shadow: 3px -3px 5px rgba($BioIndigo, 0.3);
        transform: rotateX(180deg);
      }

      .front, .back {
        flex-direction: row;
      }

      .back {
        transform: rotateX(180deg);
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        .right-wrong-icon-container {
          height: 40%;
          margin-top: 5%;

          .right-wrong-icon {
            height: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
          }
          .right-wrong-header {
            margin-top: 5%;
            text-align: center;
          }
        }

        .right-wrong-text {
          margin-bottom: 5%;
          width: 100%;
          text-align: center;
        }
      }

      .id-card-img {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 8px;

        .current-img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .id-card-choice-container {
        height: 100%;
        width: 40%;

        .id-card-header {
          height: 31%;
          width: auto;
          justify-content: space-around;

          .main-header {
            margin-top: 12px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 0;
            margin-bottom: 24px;
          }
        }

        .id-card-choices {
          height: 69%;
          width: 100%;
          justify-content: space-between;

          .choice-form {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding-bottom: 11%;

            .choice-btn {
              width: 72%;
              height: 28%;
            }
          }
        }
      }

      .id-card-answer {
        width: 100%;
        height: 100%;
        text-align: center;
        justify-content: center;

        .main-header {
          margin-top: 8px;
          margin-bottom: 0;
        }

        .sub-header {
          margin-top: 4px;
          margin-bottom: 0;
        }

        .map {
          width: 100%;
          height: 50%;

          svg {
            width: 100%;
            height: 100%;

            .map-path {
              fill: #fff;
              opacity: 0.5;
            }

            .map-pin {
              visibility: hidden;

              .pin-outer {
                fill: $PyromanFlame;
              }

              .pin-inner {
                fill: #fff;
              }
            }
          }
        }

        .project-info {

          margin-left: 20px;
          margin-right: 20px;

          .project-header {
            margin-bottom: 4px;
            text-align: left;
          }

          .project-name {
            margin-top: 0px;
            margin-bottom: 8px;
            text-align: left;
          }
        }
      }
    }
  }

  .score-container {
    height: 10vh;
    width: 100%;
    color: $BioIndigo;
    justify-content: center;
  }
}


/* Photo Archive */

.photo-search-container {
  @include media("<=tablet") {
    height: 18.7vh;

    .photo-search-input {
      margin-top: 8px;
    }

    .photo-search-btn {
      margin-top: 9.5px;
    }
  };

  @include media(">tablet") {
    height: 26.8%;
    justify-content: center;

    .photo-search-input {
      // margin-top: 20%;
    }

    .photo-search-btn {
      margin-top: 2px;
    }
  };

  .photo-search-input {
    padding-right: 30px;
  }

  .photo-search-btn {
    margin-left: -30px;
    padding-left: 0;
    color: $BioIndigo;
    background-color: transparent;
    border-style: none;

    &:hover {
      color: lighten($BioIndigo, 30%);
    }
  }

  .photo-search-help-text {
    margin-top: 8px;
    color: $BioIndigo;
    max-width: 80%;
  }
}

.photos-container {
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  @include media("<=tablet") {
    height: 66.3vh;
    margin-top: -0.5vw;
    margin-left: 0.5vw;
  }

  @include media(">tablet") {
    height: 73.2%;
    margin-top: -0.2vw;
    margin-left: 0.2vw;
  }

  .img-box {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media("<=tablet") {
      width: 32vw;
      height: 32vw;
      margin: 0.5vw;
    }

    @include media(">tablet") {
      width: 19.5vw;
      height: 19.5vw;
      margin: 0.2vw;
    }

    .sm-img {
      height: 110%;
    }
  }
}

.card-container-absolute {
  position: absolute;
  display: flex;
  justify-content: center;
  visibility: hidden;

  @include media("<=tablet") {
    top: 15vh;
  }

  @include media(">tablet") {
    top: 0;
  }

  .card-absolute {
    margin: 0;

    .back {
      background-color: white;

      .card-results-header {
        width: 100%;

        h1 {
          margin: 8px;
          color: $PyromanFlame;
        }
        h2 {
          margin-top: 6px;
          margin-left: 8px;
          margin-bottom: 0;
          margin-right: 8px;
          color: $BioIndigo;
        }
      }

      .card-results-header.no-stats {
        height: 40%;

        a {
          text-decoration: none;
        }
      }

      .no-stats-filler {
        width: 100%;
        height: 50%;

        svg {
          width: 88%;
          height: 100%;
        }
      }

      .svg-shadow {
        opacity: 0.3;
      }

      .charts {
        display: flex;

        @include media("<=tablet") {
          flex-direction: column;
          align-items: center;
          height: 85%;

          .bar-chart {
            width: 100%;
            height: 35%;
          }

          .pie-chart {
            height: 50%;
            width: 67%;
          }
        }

        @include media(">tablet") {
          flex-direction: row;
          align-items: center;
          height: 80%;

          .bar-chart {
            width: 40%;
          }

          .pie-chart {
            width: 50%;
            height: 90%;
          }
        }

        .bar-chart {
          overflow: visible;

          .bar-chart-header {
            margin-left: 8px;
            margin-top: 0;
            margin-bottom: 8px;
            color: $PyromanFlame;
          }

          .bar-chart-svg {
            width: 100%;
            height: 100%;
            margin-left: 8px;
            margin-right: 8px;
            overflow: visible;
          }

          .bar-label {
            fill: $BioIndigo;
            text-anchor: start;
            // alignment-baseline: central;
            text-transform: capitalize;
          }

          .bar-title {
            fill: $BioIndigo;
            text-anchor: start;
            text-transform: capitalize;
          }
        }

        .pie-chart {
          overflow: visible;

          .pie-chart-header {
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 0;
            color: $PyromanFlame;
          }

          .pie-chart-svg {
            width: 100%;
            height: 100%;
            overflow: visible;
          }

          .pie-piece {
            stroke-width: 2px;
          }

          .pie-piece-label {
            fill: white;
            text-anchor: middle;
          }
        }
      }

      .results-table {
        @include media("<=tablet") {
          bottom: 0;
        }

        @include media(">tablet") {
          top: 20%;
        }

        position: absolute;
        right: 0;
        padding-right: 8px;
        padding-bottom: 8px;
        color: $BioIndigo;
        text-align: right;

        h3 {
          margin-top: 6px;
          margin-bottom: 0;
        }
      }
    }
  }
}

.infinite-scroll {
  display: none;
}


/* Stats page */

.stats-page {
  color: $BioIndigo;
  background-color: lighten($BioIndigo, 50%);


  @include media(">tablet") {
    overflow-y: scroll;
  }

  a {
    text-decoration: none;
  }
}

.accordion {
  width: 100vw;
  @include media(">tablet") {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    height: 150%;
    min-width: 749px;

    @include media("height<961px", "<1920px") {
      min-height: 1050px;
    };

    .desktop-add-margin {
      width: 75% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .accordion-item {
    background-color: white;

    @include media("<=tablet") {
      width: 100%;
      height: 78px;
      position: relative;
    }

    @include media(">tablet") {
      width: 28%;
      height: 100%;
      min-width: 244px;
      margin-top: 4.8%;
      background-color: transparent;
    }

    .stats-group-header {
      height: 78px;
      width: 100%;
      flex-shrink: 0;
      justify-content: center;
      background-color: white;
      border-left-style: none;
      border-right-style: none;
      border-top-style: solid;
      border-bottom-style: solid;
      border-width: thin;
      border-color: rgba($BioIndigo, 0.4);
      box-shadow: 0px 3px 6px rgba($BioIndigo, 0.1);
      text-align: center;

      @include media(">tablet") {
        z-index: 100;
        box-shadow: 0px 3px 9px rgba($BioIndigo, 0.5);
      }

      h1 {
        margin: 0;
      }
    }

    .stats-group-header-mobile {
      cursor: pointer;
    }

    .stats-group {
      align-items: center;
      text-align: center;
      width: 100%;

      @include media("<=tablet") {
        overflow-y: scroll;
      }

      @include media(">tablet") {
        height: 100%;

        .user-stats {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          box-shadow: 0px 6px 6px rgba($BioIndigo, 0.5);
          z-index: 100;
        }

        .stats-global-holder {
          width: 100%;
          height: 50%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .global-stats {
            width: 90% !important;
            height: auto;
            margin-left: 11%;
            margin-right: 11%;

            transition-duration: 0.6s;
            transition-timing-function: ease-in-out;
            transform: translateY(calc(-100% + 25px));
          }

          .global-stats.pull-down {
            transform: translateY(0);
          }
        }
      }

      .desktop-pull-down {
        @include media("<=tablet") {
          display: none;
        }

        @include media(">tablet") {
          width: 100%;
          height: 25px;
          display: flex;
          justify-content: center;
          margin-top: 0;
          margin-bottom: 0;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          background-color: $BioIndigo;
          color: white;
          cursor: pointer;

          svg {
            width: 10%;
            height: 100%;

            .pull-down-arrow {
              fill: $BioIndigo;
              stroke: white;
              opacity: 1;
              stroke-width: 4px;
              stroke-linecap: round;
              stroke-linejoin: round;

              transition-duration: 0.6s;
              transform: rotateX(0);
              transition-timing-function: ease-in-out;
              transform-origin: center;
            }

            .pull-down-arrow.flip {
              transform: rotateX(180deg);
            }
          }
        }
      }

      .stat-text {
        max-width: 300px;
      }

      .stat-header {
        font-size: 28px;
        margin-top: 0;
      }

      .stat-color-0 {
        fill: lighten($PyromanFlame, 50%);
      }

      .stat-color-1 {
        fill: $PyromanFlame;
      }

      .stats-global-header-holder {
        width: 100%;
        background-color: white;

        @include media(">tablet") {
          box-shadow: 0px 6px 6px rgba($BioIndigo, 0.5);
          z-index: 100;
          .stats-global-header {
            margin-top: 0;
          }
        }

        .stats-global-header {
          margin-bottom: 0;
          margin-left: 16px;
          text-align: left;
          color: lighten($BioIndigo, 25%);
        }
      }

      .big-score {
        font-size: 80px;
        margin-bottom: 0;
      }

      .stat-score-bar {
        .score-bar {
          width: 100%;

          height: 8px;

          .bar {
            x: 0;
            y: 0;
            height: 100%
          }

          .full-bar {
            width: 100%;
          }
        }
      }

      .stats-score-global {
        width: 100%;
        text-align: left;

        .top-five-scores {
          width: 100%;
          max-height: 600px;

          .top-score {
            height: 16.6%;
            min-height: 48px;
            max-height: 100px;
            background-color: $BioIndigo;
            color: white;
            border-left-style: none;
            border-right-style: none;
            border-top-style: none;
            border-bottom-style: solid;
            border-width: 1px;
            border-color: rgba(255,255,255,0.5);
          }
        }

        .your-score {
          height: 16.6%;
          min-height: 48px;
          max-height: 100px;
          color: $PyromanFlame;
          background-color: white;
          border-left-style: none;
          border-right-style: none;
          border-top-style: solid;
          border-bottom-style: solid;
          border-width: 1px;
          border-color: lighten($BioIndigo, 25%);
        }

        .top-score-text {
          height: 100%;
          width: 75%;
          justify-content: space-between;
          align-items: center;

          .top-score-rank {
            width: 10%;
            opacity: 0.75;
            margin-left: 16px;
          }

          .top-score-score {
            width: 18%;
            margin-right: 15%;
            text-align: right;
          }

          .top-score-name {
            width: 45%;
            opacity: 0.75;
            text-align: left;
          }
        }

        .user-icon {
          width: 18%;
          display: flex;
          align-items: center;
          justify-content: center;

          .top-score-icon {
            @include media("<tablet") {
              max-width: 50%;
            };

            @include media(">phone-lg", "<desktop") {
              max-width: 30%;
            };

            @include media(">tablet") {
              max-width: 75%;
            };
          }
        }
      }


      .accuracy-donut {
        width: 100%;

        .donut-text {
          dominant-baseline: middle;
          text-anchor: middle;
        }
      }

       .accuracy-donut-user {
         margin-top: 53px;
         .donut-text {
           fill: $BioIndigo;
         }
       }

       .accuracy-donut-global {
         margin-bottom: 53px;

         .stat-color-0 {
           fill: white;
           opacity: 0.25;
         }

         .stat-color-1 {
           fill: white;
         }
         .donut-text {
           fill: white;
         }
       }

      .stats-accuracy-global {
        width: 100%;
        text-align: left;
        color: white;

        .full-blue-background {
          width: 100%;
          background-color: $BioIndigo;

          @include media(">tablet") {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
          };

          .accuracy-global-text {
            text-align: center;

            @include media("<=tablet") {
              margin-top: 53px;
            }

            @include media(">tablet") {
              margin-top: 16px;
            }
          }
        }
      }

      .stat-top-identified {
        width: 100%;
      }

      .top-bar {
        width: 100%;
        max-width: 250px;
        height: 50%;
        overflow: visible;

        .bar-number-text {
          dominant-baseline: text-before-edge;
          text-anchor: middle;
        }

        .bar {
          stroke-width: 2px;
        }

        .bar-label-text {
          text-anchor: middle;
        }
      }

      .top-bar-user {
        margin-top: 53px;

        .bar-number-text {
          fill: $PyromanFlame;
        }

        .bar {
          fill: lighten($PyromanFlame, 50%);
          stroke: white;
        }

        .bar-label-text {
          fill: $BioIndigo;
        }

        .bar-axis {
          fill: $PyromanFlame
        }
      }

      .top-bar-global {
        margin-bottom: 53px;
        @include media(">tablet") {
          width: 84%;
          height: 50%;
          margin-bottom: 25px;
        };

        .bar-number-text {
          fill: white;
        }

        .bar {
          stroke: $BioIndigo;
          fill: white;
          opacity: 0.25;
        }

        .bar-label-text {
          fill: white;
        }

        .bar-axis {
          fill: white;
        }
      }

      .stats-top-identified-global {
        width: 100%;
        text-align: left;

        .full-blue-background {
          width: 100%;
          background-color: $BioIndigo;

          @include media(">tablet") {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
          };

          .top-text-global {
            margin-bottom: 39px;
            color: white;
            text-align: center;

            @include media("<=tablet") {
              margin-top: 53px;
            }

            @include media(">tablet") {
              margin-top: 16px;
            }
          }
        }
      }
    }
  }
}

.stats-instructions {
  @include media(">tablet") {
    display: none;
  };

  width: 100vw;
  height: calc(100% - 234px);
  overflow: hidden;
  background-color: lighten($BioIndigo, 50%);

  .text {
    margin-top: 29px;
    max-width: 75%;
    opacity: 0.77;
    text-align: center;
  }
}

.not-active {
  background-color: lighten($BioIndigo, 50%) !important;
}


/* How To page*/

.how-to-animations {
  width: 100%;
  height: 35vh;

  @include media(">tablet") {
    margin-top: 2%;
  }

  .how-to-arrow-holder {
    position: absolute;
    width: 25%;
    height: 35vh;
    justify-content: center;

    svg {
      width: 25%;
    }

    .how-to-arrow {
      fill: none;
      stroke: #606060;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-miterlimit: 10;
      stroke-width: 50;
    }

    .how-to-arrow.flash {
      transition: 1s ease-in-out;
      opacity: 0.5;
    }
  }

  .how-to-next-arrow-holder {
    right: 0;
  }

  .how-to-back-arrow-holder {
    left: 0;

    .how-to-back-arrow {
      transform-origin: center;
      transform: rotateY(180deg);
    }
  }

  .how-to-animations-svg {
    width: 100%;
    height: 100%;

    .logo {
      transform: translate(calc(-50vw * (1.5 - 1)), calc(-17.5vh * (1.5 - 1))) scale(1.5);
    }

    .identify-how-to {
      .identify-animation {
        opacity: 0;
        fill: $PyromanFlame;
        transform: translate(calc(-50vw * (0.5 - 1)), calc(-17.5vh * (0.5 - 1))) scale(0.5);
      }

      .identify-animation.start {
        transition: 1s ease-in-out;
        opacity: 1;
      }

      .identify-animation.start-2 {
        opacity: 0;
      }

      .cartoon-card{
        transform-origin: center;
        transform: translateX(100vw);
        background-color: $BioIndigo;
        backface-visibility: hidden;

        @keyframes cartoonImageZoom {
          15% {
            transform: translate(0) scale(1);
          }
          30% {
            transform: translate(-50vw, calc(17.5vh * (0.25))) scale(2);
          }
          70% {
            transform: translate(-50vw, calc(17.5vh * (0.25))) scale(2);
          }
        }

        .image-zoom {
          animation-duration: 3s;
          animation-name: cartoonImageZoom;
          animation-iteration-count: 2;
          animation-direction: normal;
          animation-timing-function: ease-in-out;
        }

        .cartoon-photo.start {
          transition: 3s ease-in-out;
          transform: translate(0) scale(1);
        }

        .cartoon-btn {
          opacity: 0;
          transform-origin: center;
        }

        @keyframes btnResponse {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(1.2);
          }
        }

        .cartoon-btn.start {
          opacity: 1;
          animation: btnResponse;
          animation-duration: 0.25s;
          animation-direction: alternate;
          animation-iteration-count: 2;
          animation-timing-function: ease-in-out;
        }
      }

      .cartoon-card.start {
        transition: 1s ease-in-out;
        transform: translateX(0);
      }

      .cartoon-card.start-2 {
        transition: 1s ease-in-out;
        transform: rotateY(-90deg);
        transform-style: preserve-3d;
      }

      .check-mark {
        transform-origin: center;
        transform: scale(0);
      }

      .check-mark.start {
        transition: 1.5s;
        transition-delay: 1s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.9);
        transform: scale(0.5);
      }

      .check-mark-bubble-group {
        opacity: 0;

        .check-mark-bubbles {
          fill: none;
          stroke-width: 4px;
          stroke: white;
        }

        .check-mark-bubbles.start {
          transition: 20s;
          transition-delay: 1s;
          transform: translateY(-100vh);
        }
      }

      .check-mark-bubble-group.start {
        transition: 2s;
        transition-delay: 1s;
        opacity: 1;
      }
    }

    .stats-how-to {
      .stats-animation {
        fill: $PyromanFlame;
        transform: translate(calc(-50vw * (0.5 - 1)), calc(-17.5vh * (0.5 - 1))) scale(0.5);
        opacity: 0;
      }

      .stats-animation.start {
        transition: 1s ease-in-out;
        opacity: 1;
      }

      .stats-animation.start-2 {
        opacity: 0;
      }

      .cartoon-stats {
        opacity: 0;
      }

      .cartoon-stats.start {
        transition: 1s ease-in-out;
        opacity: 1;

        @keyframes pullDownThenUpG2 {
          0% {
            transform: translate(0);
          }
          33% {
            transform: translateY(70%);
          }
          66% {
            transform: translateY(70%);
          }
          100% {
            transform: translateY(0);
          }
        }

        @keyframes pullDownThenUpG3 {
          0% {
            transform: translate(0);
          }
          20% {
            transform: translateY(70%);
          }
          80% {
            transform: translateY(70%);
          }
          100% {
            transform: translateY(0);
          }
        }

        .stat-group-2.start {
          animation-name: pullDownThenUpG2;
          animation-duration: 3s;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
        }

        .stat-group-3.start {
          animation-name: pullDownThenUpG3;
          animation-duration: 5s;
          animation-iteration-count: 1;
          animation-timing-function: ease-in-out;
        }

        .stat-cover.start {
          transition: 1s ease-in-out;
          transform: translateY(70%);
        }

        .stat-1.start {
          transition: 1s ease-in-out;
          transition-delay: 1s;
          transform: translateY(-18%);
        }

        .stat-2.start {
          transition: 1s ease-in-out;
          transition-delay: 3s;
          transform: translateY(-10%);
        }

        .stat-3.start {
          transition: 1s ease-in-out;
          transition-delay: 5s;
          transform: translateY(-18%);
        }
      }
    }

    .archive-how-to {
      .archive-animation {
        fill: $PyromanFlame;
        transform: translate(calc(-50vw * (0.5 - 1)), calc(-17.5vh * (0.5 - 1))) scale(0.5);
        opacity: 0;
      }

      .archive-animation.start {
        transition: 1s ease-in-out;
        opacity: 1;
      }

      .archive-animation.start-2 {
        opacity: 0;
      }

      .cartoon-archive {
        transform: translateY(100%);
      }

      .cartoon-archive.start {
        transition: 3s ease-in-out;
        transition-property: transform;
        transform: translateY(-58%);
      }

      .archive-photo {
        transform-origin: center;
        opacity: 0;
      }

      @keyframes photoResponse {
        0% {
          transform: scale(1);
        }
        100% {
          transform: scale(1.2);
        }
      }

      .archive-photo.start {
        opacity: 1;
        animation: photoResponse;
        animation-duration: 0.25s;
        animation-direction: alternate;
        animation-iteration-count: 2;
        animation-timing-function: ease-in-out;
      }
    }

    .archive-card-front {
      transform-origin: center;
      transform: translateX(100vw);
    }

    .archive-card-front.start {
      transition: 1s ease-in-out;
      transform: translateX(0);
    }

    .archive-card-front.start-2 {
      transition: 1s ease-in-out;
      transform: rotateY(-90deg);
      transform-style: preserve-3d;
    }

    .archive-card-back {
      transform-origin: center;
      transform: rotateY(90deg);
    }

    .archive-card-back.start {
      transition: 1s ease-in-out;
      transition-delay: 1s;
      transform: rotateY(0deg);
      transform-style: preserve-3d;
    }
  }

  // Class for changing background during correct tag example
  .how-to-animations-svg.start {
    transition: 1.5s;
    transition-delay: 1s;
    background-color: lighten($BioIndigo, 25%);
  }
}

.how-to-text {
  width: 88%;

  .how-to-title {
    color: #606060;
  }

  .how-to-explanation {
    color: #606060;
    margin: 0;
  }
}

.how-to-items {

  .how-to-icon {
    fill : $PyromanFlame;
    width: 8vw;
    max-width: 23px;
    height: 8vw;
    margin: 11.5px;
  }

  .how-to-progress {
    height: 20px;
    width: 100px;

    .progress-circle {
      fill: none;
      stroke-width: 2px;
      stroke: #606060;
    }

    .progress-circle.active {
      transition: 1s ease-in-out;
      fill: #606060;
    }

  }

  .skip-how-to {
    margin-top: 29px;
    margin-bottom: 29px;
    // width: 200px;
    text-align: center;

    a {
      text-decoration: none;
    }
  }
}
