// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Landing page */

.landing {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  justify-content: space-around;


  @include media(">tablet") {
    background-image: url("https://s3.amazonaws.com/emammalphoto/d19515s40i5_o.jpg");
    background-size: cover;
    background-position: center;
  }
}

$sideLength: 112px;

.dog-ear {
  background-color: $PyromanFlame;
  position: absolute;
  top: 0;
  right: 0;
  width: $sideLength;
  height: $sideLength;
  transform: translate($sideLength / 2, $sideLength / -2) rotate(45deg);

  justify-content: flex-end;

  .dog-ear-text {
    color: white;
    font-size: 16px;
    letter-spacing: 6px;
    margin-bottom: 6px;
  }
}

.emammal-logo {
  width: 71.5vmin;
  margin-top: 9.8%;

  .logo-text {
    color: $PyromanFlame;
    text-align: center;
    margin-top: 8.6%;
  }
}

.lib-logo {
  width: 25vmin;
}

.down-arrow {
  margin-bottom: 2.5%;
  left: calc((100% - 11.5%) / 2);
  width: 11.5%;
  max-width: 88px;
  height: auto;
  cursor: pointer;

  path {
    transition-property: opacity;
    transition-duration: 0.5s;
  }

  &:hover {
    path {
      opacity: 1;
    }
  }
}


/* Landing About page */

.about {
  height: 100vh;
  width: 100vw;
  color: $BioIndigo;
}

.about-container {
  padding-top: 6.6%;
  width: 76%;
  margin-bottom: 11.2%;

  .about-title {
    margin-top: 0;
  }

  .about-body {
    font-size: 14px;
    line-height: 1.5;
  }
}

.begin-btn {
  width: 155px;
}

/* Log in and sign in shared*/

.login-logo {
  max-height: 33%;
  max-width: 155px;
}

.login-text-input {
  margin-top: 8px;
  margin-bottom: 8px;
}

.signup-or-guest {
  a {
    text-decoration: none;
  }

  span {
    color: lighten($BioIndigo, 30%)
  }
}


/* Log in page*/

.login-page {
  justify-content: flex-start;

  .login-form-container {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;

    .remember-me-check {
      margin-top: 8px;
      margin-bottom: 24px;
      color: $BioIndigo
    }

  }
}


/* Sign up page*/

.signup-page {
  justify-content: flex-start;

  .signup-form-container {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 24px;

    .signup-btn {
      margin-top: 24px;
    }
  }
}


/* Learn More page */

.learn-more {
  width: 100vw;
  color: $BioIndigo;

  a {
    word-wrap: break-word;
  }
}

.learn-more-container {
  width: 76%;

  .learn-more-title {
    margin-top: 0;
  }

  .learn-more-body {
    font-size: 14px;
    line-height: 1.5;
  }
}

.begin-btn {
  width: 155px;
}


/* identify page */

.card-container {
  width: 100%;
  align-items: center;
  perspective: 1000px;
}

.card {
  will-change: transform;
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 100%;
  // margin-left: 6.6%;
  color: white;
  box-shadow: 3px 3px 5px rgba($BioIndigo, 0.3);
  transform: rotateY(0deg);
  transform-style: preserve-3d;

  transition-property: transform, box-shadow;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);

  .front, .back {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $BioIndigo;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
    transform: translateZ(1px);
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    .right-wrong-icon-container {
      position: absolute;
      height: 23.5%;
      width: 100%;
      top: 13%;

      .right-wrong-icon {
        width: 41.8%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      .right-wrong-header {
        margin-top: 5%;
        text-align: center;
      }
    }

    .right-wrong-text {
      position: absolute;
      bottom: 10.8%;
      width: 100%;
      text-align: center;
    }
  }
}

.skip-container {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 5px;
  color: #4156A1;

  .skip-text {
    text-align: right;
    margin-top: 10px;
    opacity: 0.64;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus {
      opacity: 1;
      text-decoration: none;
      outline: none;
    }
  }
}

.next-arrow {
  cursor: pointer;
  visibility: hidden;

  position: absolute;
  right: 0;
  width: 11%;
  height: 75vh;
  justify-content: center;

  svg {
    width: 25%;
    fill: none;
    opacity: 0.6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 50;
    stroke: #4156A1;

    &:hover {
      opacity: 1;
    }
  }
}

@include media("<=tablet") {
  .card-container {
    height: 75vh;
    min-height: 426px;
    // max-height: 650px;

    .card {
      width: 42.3vh;
      max-width: 86.6%;
      min-width: 235px;
      min-height: 426px;
      flex-direction: column;
      align-items: center;

      &.flipped {
        box-shadow: -3px 3px 5px rgba($BioIndigo, 0.3);
        transform: rotateY(180deg);
      }

      .front, .back {
        flex-direction: column;
      }

      .back {
        transform: rotateY(180deg);
        align-items: center;
        align-content: center;
      }

      .id-card-img {
        height: 42.3%;
        width: auto;

        .current-img {
          max-height: 100%;
          width: 100%;
        }
      }

      .id-card-choice-container {
        height: 57.7%;
        width: 100%;

        .id-card-header {
          height: 31%;
          width: auto;
          justify-content: space-around;

          .main-header {
            margin-top: 12px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 0;
            margin-bottom: 24px;
          }
        }

        .id-card-answer {
          width: 100%;
          height: 100%;
          text-align: center;

          .main-header {
            margin-top: 8px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 4px;
            margin-bottom: 0;
          }

          .map {
            width: 100%;
            height: 60%;

            svg {
              width: 100%;
              height: 100%;

              .map-path {
                fill: #fff;
                opacity: 0.5;
              }

              .map-pin {
                visibility: hidden;

                .pin-outer {
                  fill: $PyromanFlame;
                }

                .pin-inner {
                  fill: #fff;
                }
              }
            }
          }

          .project-info {
            position: absolute;
            bottom: 0;
            left: 0;

            margin-left: 20px;
            margin-right: 20px;

            .project-header {
              margin-bottom: 4px;
              text-align: left;
            }

            .project-name {
              margin-top: 0px;
              margin-bottom: 8px;
              text-align: left;
            }
          }
        }

        .id-card-choices {
          height: 69%;
          width: 100%;
          justify-content: space-between;

          .choice-form {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding-bottom: 11%;

            .choice-btn {
              width: 72%;
              height: 28%;
              min-height: 48px;
            }
          }
        }
      }
    }
  }

  .score-container {
    height: 10vh;
    width: 100%;
    color: $BioIndigo;
    justify-content: center;
    pointer-events: none;
  }
}

@include media(">tablet") {
  .card-container {
    height: 90%;

    .card {
      flex-direction: row;
      height: auto;
      width: 63.5%;

      &.flipped {
        box-shadow: 3px -3px 5px rgba($BioIndigo, 0.3);
        transform: rotateX(180deg);
      }

      .front, .back {
        flex-direction: row;
      }

      .back {
        transform: rotateX(180deg);
      }

      .id-card-img {
        width: 60%;
        padding: 8px;

        .current-img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .id-card-choice-container {
        height: auto;
        width: 40%;

        .id-card-header {
          height: 31%;
          width: auto;
          justify-content: space-around;

          .main-header {
            margin-top: 12px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 0;
            margin-bottom: 24px;
          }
        }

        .id-card-choices {
          height: 69%;
          width: 100%;
          justify-content: space-between;

          .choice-form {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding-bottom: 11%;

            .choice-btn {
              width: 72%;
              height: 28%;
            }
          }
        }

      }
    }
  }

  .score-container {
    height: 10vh;
    width: 100%;
    color: $BioIndigo;
    justify-content: center;
  }
}


/* Photo Archive */

@include media("<=tablet") {

  .photo-search-container {
    height: 18.7vh;

    .photo-search-input {
      padding-right: 30px;
      margin-top: 8px;
    }

    .photo-search-btn {
      margin-top: 9.5px;
      margin-left: -30px;
      padding-left: 0;
      color: $BioIndigo;
      background-color: transparent;
      border-style: none;

      &:hover {
        color: lighten($BioIndigo, 30%);
      }
    }

    .photo-search-help-text {
      margin-top: 8px;
      color: $BioIndigo;
      max-width: 80%;
    }
  }

  .photos-container {
    height: 66.3vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -0.5vw;
    margin-left: 0.5vw;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;


    .img-box {
      width: 32vw;
      height: 32vw;
      margin: 0.5vw;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .sm-img {
        height: 110%;
      }
    }
  }

  .card-container-absolute {
    position: absolute;
    top: 15vh;
    display: flex;
    justify-content: center;
    visibility: hidden;

    .card-absolute {
      margin: 0;

      .back {
        background-color: white;

        .card-results-header {
          width: 100%;

          h1 {
            margin: 8px;
            color: $PyromanFlame;
          }
          h2 {
            margin-top: 6px;
            margin-left: 8px;
            margin-right: 8px;
            color: $BioIndigo;
          }
        }

        .card-results-header.no-stats {
          height: 40%;

          a {
            text-decoration: none;
          }
        }

        .no-stats-filler {
          width: 100%;
          height: 50%;

          svg {
            width: 88%;
            height: 100%;
          }
        }

        .svg-shadow {
          opacity: 0.3;
        }

        .bar-chart {
          width: 100%;
          height: 25%;
          overflow: visible;

          .bar-chart-header {
            margin-left: 8px;
            margin-top: 0;
            margin-bottom: 8px;
            color: $PyromanFlame;
          }

          .bar-chart-svg {
            width: 100%;
            height: 100%;
            margin-left: 8px;
            margin-right: 8px;
            overflow: visible;
          }

          .bar-label {
            fill: $BioIndigo;
            text-anchor: start;
            // alignment-baseline: central;
            text-transform: capitalize;
          }

          .bar-title {
            fill: $BioIndigo;
            text-anchor: start;
            text-transform: capitalize;
          }
        }

        .pie-chart {
          height: 45%;
          width: 67%;
          overflow: visible;

          .pie-chart-header {
            margin-left: 8px;
            margin-right: 8px;
            margin-top: 0;
            color: $PyromanFlame;
          }

          .pie-chart-svg {
            width: 100%;
            height: 100%;
            overflow: visible;
          }

          .pie-piece {
            stroke-width: 2px;
          }

          .pie-piece-label {
            fill: white;
            text-anchor: middle;
          }
        }

        .results-table {
          position: absolute;
          bottom: 0;
          right: 0;
          padding-right: 8px;
          padding-bottom: 8px;
          color: $BioIndigo;
          text-align: right;

          h3 {
            margin-top: 6px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


/* Stats page */

.stats-page {
  color: $BioIndigo;
  background-color: lighten($BioIndigo, 50%);
  // background-color: rgba($BioIndigo, 0.1)

  a {
    text-decoration: none;
  }
}

@include media("<=tablet") {
  .accordion {
    width: 100vw;

    .accordion-item {
      width: 100%;
      height: 78px;
      position: relative;
      background-color: white;

      .stats-group-header {
        height: 78px;
        width: 100%;
        cursor: pointer;
        flex-shrink: 0;
        justify-content: center;
        border-left-style: none;
        border-right-style: none;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: thin;
        border-color: rgba($BioIndigo, 0.4);
        box-shadow: 0px 3px 6px rgba($BioIndigo, 0.1);
        text-align: center;

        h1 {
          margin: 0;
        }
      }

      .stats-group {
        width: 100%;
        align-items: center;
        text-align: center;
        overflow-y: scroll;

        .stat-text {
          max-width: 300px;
        }

        .stat-header {
          font-size: 28px;
          margin-top: 0;
        }

        .stat-color-0 {
          fill: lighten($PyromanFlame, 50%);
        }

        .stat-color-1 {
          fill: $PyromanFlame;
        }

        .stats-global-header {
          margin-bottom: 0;
          margin-left: 16px;
          color: lighten($BioIndigo, 25%);
          background-color: white;
        }

        .big-score {
          font-size: 80px;
          margin-bottom: 0;
        }

        .stat-score-bar {
          .score-bar {
            height: 8px;

            .bar {
              x: 0;
              y: 0;
              height: 100%
            }

            .full-bar {
              width: 100%;
            }
          }
        }

        .stats-score-global {
          width: 100%;
          text-align: left;

          .top-five-scores {
            width: 100%;

            .top-score {
              height: 16.6%;
              min-height: 48px;
              max-height: 100px;
              background-color: $BioIndigo;
              color: white;
              border-left-style: none;
              border-right-style: none;
              border-top-style: none;
              border-bottom-style: solid;
              border-width: 1px;
              border-color: rgba(255,255,255,0.5);
            }
          }

          .your-score {
            height: 16.6%;
            min-height: 48px;
            max-height: 100px;
            color: $PyromanFlame;
          }

          .top-score-text {
            height: 100%;
            width: 75%;
            justify-content: space-between;
            align-items: center;

            .top-score-rank {
              width: 10%;
              opacity: 0.75;
              margin-left: 16px;
            }

            .top-score-score {
              width: 18%;
              margin-right: 15%;
              text-align: right;
            }

            .top-score-name {
              width: 45%;
              opacity: 0.75;
              text-align: left;
            }
          }

          .user-icon {
            width: 25%;
            height: 100%;
          }
        }

        .accuracy-donut {
          width: auto;
          height: 35.7%;
          margin-top: 53px;

          .donut-text {
            fill: $BioIndigo;
            dominant-baseline: middle;
            text-anchor: middle;
          }
        }

        .top-bar {
          max-width: 250px;
          height: 50%;
          overflow: visible;

          .bar-number-text {
            dominant-baseline: text-before-edge;
            text-anchor: middle;
          }

          .bar {
            stroke-width: 2px;
          }

          .bar-label-text {
            text-anchor: middle;
          }
        }

        .top-bar-user {
          margin-top: 53px;

          .bar-number-text {
            fill: $PyromanFlame;
          }

          .bar {
            fill: lighten($PyromanFlame, 50%);
            stroke: white;
          }

          .bar-label-text {
            fill: $BioIndigo;
          }

          .bar-axis {
            fill: $PyromanFlame
          }
        }

        .top-bar-global {
          margin-bottom: 53px;

          .bar-number-text {
            fill: white;
          }

          .bar {
            stroke: $BioIndigo;
            fill: white;
            opacity: 0.25;
          }

          .bar-label-text {
            fill: white;
          }

          .bar-axis {
            fill: white;
          }
        }

        .stats-top-identified-global {
          width: 100%;
          text-align: left;

          .full-blue-background {
            width: 100%;
            background-color: $BioIndigo;

            .top-text-global {
              margin-top: 32px;
              margin-bottom: 32px;
              color: white;
              text-align: center;
            }
          }
        }
      }
    }
  }

  .stats-instructions {
    width: 100vw;
    height: calc(100% - 234px);
    overflow: hidden;
    background-color: lighten($BioIndigo, 50%);

    .text {
      margin-top: 29px;
      max-width: 75%;
      opacity: 0.77;
      text-align: center;
    }
  }

  .not-active {
    background-color: lighten($BioIndigo, 50%) !important;
  }
}


/* How To page*/

@include media("<=tablet") {
  .how-to {
    height: 85vh;
  }

  .how-to-animations {
    width: 100%;
    height: 35vh;

    .how-to-arrow-holder {
      position: absolute;
      width: 25%;
      height: 35vh;
      justify-content: center;

      svg {
        width: 25%;
      }

      .how-to-arrow {
        fill: none;
        stroke: #606060;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
        stroke-width: 50;
      }

      .how-to-arrow.flash {
        transition: 1s ease-in-out;
        opacity: 0.5;
      }
    }

    .how-to-next-arrow-holder {
      right: 0;
    }

    .how-to-back-arrow-holder {
      left: 0;

      .how-to-back-arrow {
        transform-origin: center;
        transform: rotateY(180deg);
      }
    }

    .how-to-animations-svg {
      width: 100%;
      height: 100%;

      .logo {
        transform: translate(calc(-50vw * (1.5 - 1)), calc(-17.5vh * (1.5 - 1))) scale(1.5);
      }

      .identify-how-to {
        .identify-animation {
          opacity: 0;
          fill: $PyromanFlame;
          transform: translate(calc(-50vw * (0.5 - 1)), calc(-17.5vh * (0.5 - 1))) scale(0.5);
        }

        .identify-animation.start {
          transition: 1s ease-in-out;
          opacity: 1;
        }

        .identify-animation.start-2 {
          opacity: 0;
        }

        .cartoon-card{
          transform-origin: center;
          transform: translateX(100vw);
          background-color: $BioIndigo;
          backface-visibility: hidden;

          @keyframes cartoonImageZoom {
            15% {
              transform: translate(0) scale(1);
            }
            30% {
              transform: translate(-50vw, calc(17.5vh * (0.25))) scale(2);
            }
            70% {
              transform: translate(-50vw, calc(17.5vh * (0.25))) scale(2);
            }
          }

          .image-zoom {
            animation-duration: 3s;
            animation-name: cartoonImageZoom;
            animation-iteration-count: 2;
            animation-direction: normal;
            animation-timing-function: ease-in-out;
          }

          .cartoon-photo.start {
            transition: 3s ease-in-out;
            transform: translate(0) scale(1);
          }

          .cartoon-btn {
            opacity: 0;
            transform-origin: center;
          }

          @keyframes btnResponse {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(1.2);
            }
          }

          .cartoon-btn.start {
            opacity: 1;
            animation: btnResponse;
            animation-duration: 0.25s;
            animation-direction: alternate;
            animation-iteration-count: 2;
            animation-timing-function: ease-in-out;
          }
        }

        .cartoon-card.start {
          transition: 1s ease-in-out;
          transform: translateX(0);
        }

        .cartoon-card.start-2 {
          transition: 1s ease-in-out;
          transform: rotateY(-90deg);
          transform-style: preserve-3d;
        }

        .check-mark {
          transform-origin: center;
          transform: scale(0);
        }

        .check-mark.start {
          transition: 1.5s;
          transition-delay: 1s;
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.9);
          transform: scale(0.5);
        }

        .check-mark-bubble-group {
          opacity: 0;

          .check-mark-bubbles {
            fill: none;
            stroke-width: 4px;
            stroke: white;
          }

          .check-mark-bubbles.start {
            transition: 20s;
            transition-delay: 1s;
            transform: translateY(-100vh);
          }
        }

        .check-mark-bubble-group.start {
          transition: 2s;
          transition-delay: 1s;
          opacity: 1;
        }
      }

      .stats-how-to {
        .stats-animation {
          fill: $PyromanFlame;
          transform: translate(calc(-50vw * (0.5 - 1)), calc(-17.5vh * (0.5 - 1))) scale(0.5);
          opacity: 0;
        }

        .stats-animation.start {
          transition: 1s ease-in-out;
          opacity: 1;
        }

        .stats-animation.start-2 {
          opacity: 0;
        }

        .cartoon-stats {
          opacity: 0;
        }

        .cartoon-stats.start {
          transition: 1s ease-in-out;
          opacity: 1;

          @keyframes pullDownThenUpG2 {
            0% {
              transform: translate(0);
            }
            33% {
              transform: translateY(70%);
            }
            66% {
              transform: translateY(70%);
            }
            100% {
              transform: translateY(0);
            }
          }

          @keyframes pullDownThenUpG3 {
            0% {
              transform: translate(0);
            }
            20% {
              transform: translateY(70%);
            }
            80% {
              transform: translateY(70%);
            }
            100% {
              transform: translateY(0);
            }
          }

          .stat-group-2.start {
            animation-name: pullDownThenUpG2;
            animation-duration: 3s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
          }

          .stat-group-3.start {
            animation-name: pullDownThenUpG3;
            animation-duration: 5s;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
          }

          .stat-cover.start {
            transition: 1s ease-in-out;
            transform: translateY(70%);
          }

          .stat-1.start {
            transition: 1s ease-in-out;
            transition-delay: 1s;
            transform: translateY(-18%);
          }

          .stat-2.start {
            transition: 1s ease-in-out;
            transition-delay: 3s;
            transform: translateY(-10%);
          }

          .stat-3.start {
            transition: 1s ease-in-out;
            transition-delay: 5s;
            transform: translateY(-18%);
          }
        }
      }

      .archive-how-to {
        .archive-animation {
          fill: $PyromanFlame;
          transform: translate(calc(-50vw * (0.5 - 1)), calc(-17.5vh * (0.5 - 1))) scale(0.5);
          opacity: 0;
        }

        .archive-animation.start {
          transition: 1s ease-in-out;
          opacity: 1;
        }

        .archive-animation.start-2 {
          opacity: 0;
        }

        .cartoon-archive {
          transform: translateY(100%);
        }

        .cartoon-archive.start {
          transition: 3s ease-in-out;
          transition-property: transform;
          transform: translateY(-58%);
        }

        .archive-photo {
          transform-origin: center;
          opacity: 0;
        }

        @keyframes photoResponse {
          0% {
            transform: scale(1);
          }
          100% {
            transform: scale(1.2);
          }
        }

        .archive-photo.start {
          opacity: 1;
          animation: photoResponse;
          animation-duration: 0.25s;
          animation-direction: alternate;
          animation-iteration-count: 2;
          animation-timing-function: ease-in-out;
        }
      }

      .archive-card-front {
        transform-origin: center;
        transform: translateX(100vw);
      }

      .archive-card-front.start {
        transition: 1s ease-in-out;
        transform: translateX(0);
      }

      .archive-card-front.start-2 {
        transition: 1s ease-in-out;
        transform: rotateY(-90deg);
        transform-style: preserve-3d;
      }

      .archive-card-back {
        transform-origin: center;
        transform: rotateY(90deg);
      }

      .archive-card-back.start {
        transition: 1s ease-in-out;
        transition-delay: 1s;
        transform: rotateY(0deg);
        transform-style: preserve-3d;
      }
    }

    // Class for changing background during correct tag example
    .how-to-animations-svg.start {
      transition: 1.5s;
      transition-delay: 1s;
      background-color: lighten($BioIndigo, 25%);
    }
  }

  .how-to-text {
    width: 88%;

    .how-to-title {
      color: #606060;
    }

    .how-to-explanation {
      color: #606060;
      margin: 0;
    }
  }

  .how-to-items {

    .how-to-icon {
      fill : $PyromanFlame;
      width: 8vw;
      max-width: 23px;
      height: 8vw;
      margin: 11.5px;
    }

    .how-to-progress {
      height: 20px;
      width: 100px;

      .progress-circle {
        fill: none;
        stroke-width: 2px;
        stroke: #606060;
      }

      .progress-circle.active {
        transition: 1s ease-in-out;
        fill: #606060;
      }

    }

    .skip-how-to {
      margin-top: 29px;
      margin-bottom: 29px;
      // width: 200px;
      text-align: center;

      a {
        text-decoration: none;
      }
    }
  }
}
