// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Landing page */

.landing {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  position: relative;
  justify-content: space-around;


  @include media(">tablet") {
    background-image: url("https://s3.amazonaws.com/emammalphoto/d19515s40i5_o.jpg");
    background-size: cover;
    background-position: center;
  }
}

$sideLength: 112px;

.dog-ear {
  background-color: $PyromanFlame;
  position: absolute;
  top: 0;
  right: 0;
  width: $sideLength;
  height: $sideLength;
  transform: translate($sideLength / 2, $sideLength / -2) rotate(45deg);

  justify-content: flex-end;

  .dog-ear-text {
    color: white;
    font-size: 16px;
    letter-spacing: 6px;
    margin-bottom: 6px;
  }
}

.emammal-logo {
  width: 71.5vmin;
  margin-top: 9.8%;

  .logo-text {
    color: $PyromanFlame;
    text-align: center;
    margin-top: 8.6%;
  }
}

.lib-logo {
  width: 25vmin;
}

.down-arrow {
  margin-bottom: 2.5%;
  left: calc((100% - 11.5%) / 2);
  width: 11.5%;
  max-width: 88px;
  height: auto;
  cursor: pointer;

  path {
    transition-property: opacity;
    transition-duration: 0.5s;
  }

  &:hover {
    path {
      opacity: 1;
    }
  }
}


/* Landing About page */

.about {
  height: 100vh;
  width: 100vw;
  color: $BioIndigo;
}

.about-container {
  padding-top: 6.6%;
  width: 76%;
  margin-bottom: 11.2%;

  .about-title {
    margin-top: 0;
  }

  .about-body {
    font-size: 14px;
    line-height: 1.5;
  }
}

.begin-btn {
  width: 155px;
}

/* Signup page*/
.signup-page {

  .login-logo {
    height: 33%;
  }

  .login-form-container {
    height: 33%;
    width: 100%;
    justify-content: space-between;
  }

  .login-btn-container {
    height: 51.4%;
    width: 100%;
    justify-content: space-between;

    .login-btn {
      margin-top: 16%;
      width: 28.8%
    }

    .login-skip-link {
      color: $PyromanFlame;
      margin-bottom: 12.8%;
    }
  }
}

/* Learn More page */

.learn-more {
  width: 100vw;
  color: $BioIndigo;

  a {
    word-wrap: break-word;
  }
}

.learn-more-container {
  width: 76%;

  .learn-more-title {
    margin-top: 0;
  }

  .learn-more-body {
    font-size: 14px;
    line-height: 1.5;
  }
}

.begin-btn {
  width: 155px;
}


/* Identify page */

.card-container {
  width: 100%;
  align-items: center;
  perspective: 1000px;
}

.card {
  display: flex;
  flex-shrink: 0;
  position: relative;
  height: 100%;
  margin-left: 6.6%;
  color: white;
  box-shadow: 3px 3px 5px rgba($BioIndigo, 0.3);
  transform: rotateY(0deg);
  transform-style: preserve-3d;

  transition-property: transform, box-shadow;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);

  .front, .back {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $BioIndigo;
    backface-visibility: hidden;
  }

  .front {
    transform: rotateY(0deg);
    transform: translateZ(1px);
  }

  .back {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    .right-wrong-icon-container {
      position: absolute;
      height: 23.5%;
      width: 100%;
      top: 13%;

      .right-wrong-icon {
        width: 41.8%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }
      .right-wrong-header {
        margin-top: 5%;
        text-align: center;
      }
    }

    .right-wrong-text {
      position: absolute;
      bottom: 10.8%;
      width: 100%;
      text-align: center;
    }
  }
}

.skip-container {
  position: absolute;
  top: 100%;
  right: 0;
  bottom: 5px;
  color: #4156A1;

  .skip-text {
    text-align: right;
    margin-top: 10px;
    opacity: 0.64;
    cursor: pointer;
    text-decoration: none;

    &:hover, &:focus {
      opacity: 1;
      text-decoration: none;
      outline: none;
    }
  }
}

.next-arrow {
  width: 2.6%;
  max-width: 20px;
  margin-left: 4%;
  cursor: pointer;
  visibility: hidden;

  svg {
    width: 100%;
    fill: none;
    opacity: 0.6;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-width: 50;
    stroke: #4156A1;

    &:hover {
      opacity: 1;
    }
  }
}

@include media("<=tablet") {
  .card-container {
    height: 75vh;
    // max-height: 650px;

    .card {
      width: 42.3vh;
      max-width: 86.6%;
      min-width: 235px;
      flex-direction: column;
      align-items: center;

      &.flipped {
        box-shadow: -3px 3px 5px rgba($BioIndigo, 0.3);
        transform: rotateY(180deg);
      }

      .front, .back {
        flex-direction: column;
      }

      .back {
        transform: rotateY(180deg);
        align-items: center;
        align-content: center;
      }

      .id-card-img {
        height: 42.3%;
        width: auto;

        .current-img {
          max-height: 100%;
          width: 100%;
        }
      }

      .id-card-choice-container {
        height: 57.7%;
        width: 100%;

        .id-card-header {
          height: 31%;
          width: auto;
          justify-content: space-around;

          .main-header {
            margin-top: 12px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 0;
            margin-bottom: 24px;
          }
        }

        .id-card-answer {
          text-align: center;

          .main-header {
            margin-top: 12px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 6px;
            margin-bottom: 0;
          }

          .map {
            padding: 8px;

            img {
              position: relative;
              top: 0;
              left: 0;
            }

            .map-pin {
              transform: translateY(-100%);
            }
          }

          .project-info {
            position: absolute;
            bottom: 20px;
            left: 0;

            margin-left: 20px;
            margin-right: 20px;

            .project-header {
              text-align: left;
            }

            .project-name {
              margin-top: 6px;
              text-align: left;
            }
          }
        }

        .id-card-choices {
          height: 69%;
          width: 100%;
          justify-content: space-between;

          .choice-form {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding-bottom: 11%;

            .choice-btn {
              width: 72%;
              height: 28%;
            }
          }
        }
      }
    }
  }

  .score-container {
    height: 10vh;
    width: 100%;
    color: $BioIndigo;
    justify-content: center;
    pointer-events: none;
  }
}

@include media(">tablet") {
  .card-container {
    height: 90%;

    .card {
      flex-direction: row;
      height: auto;
      width: 63.5%;

      &.flipped {
        box-shadow: 3px -3px 5px rgba($BioIndigo, 0.3);
        transform: rotateX(180deg);
      }

      .front, .back {
        flex-direction: row;
      }

      .back {
        transform: rotateX(180deg);
      }

      .id-card-img {
        width: 60%;
        padding: 8px;

        .current-img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .id-card-choice-container {
        height: auto;
        width: 40%;

        .id-card-header {
          height: 31%;
          width: auto;
          justify-content: space-around;

          .main-header {
            margin-top: 12px;
            margin-bottom: 0;
          }

          .sub-header {
            margin-top: 0;
            margin-bottom: 24px;
          }
        }

        .id-card-choices {
          height: 69%;
          width: 100%;
          justify-content: space-between;

          .choice-form {
            width: 100%;
            height: 100%;
            justify-content: space-between;
            padding-bottom: 11%;

            .choice-btn {
              width: 72%;
              height: 28%;
            }
          }
        }

      }
    }
  }

  .score-container {
    height: 10vh;
    width: 100%;
    color: $BioIndigo;
    justify-content: center;
  }
}


/* Photo Archive */

@include media("<=tablet") {

  .photo-search-container {
    height: 18.7vh;

    .photo-search-input {
      padding-left: 10px;
      padding-right: 30px;
    }

    .photo-search-btn {
      margin-left: -30px;
      padding-left: 0;
      color: $BioIndigo;
      background-color: transparent;
      border-style: none;

      &:hover {
        color: rgba($BioIndigo, 0.4);
      }
    }
  }

  .photos-container {
    height: 66.3vh;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: -0.5vw;
    margin-left: 0.5vw;
    overflow-y: scroll;

    .img-box {
      width: 32vw;
      height: 32vw;
      margin: 0.5vw;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      .sm-img {
        height: 110%;
      }
    }
  }

  .card-container-absolute {
    position: absolute;
    top: 15vh;
    display: flex;
    justify-content: center;
    visibility: hidden;

    .card-absolute {
      margin: 0;

      .back {
        background-color: white;

        .card-results-header {
          width: 100%;
          color: $PyromanFlame;

          h1 {
            margin-bottom: 10px;
            margin-left: 20px;
          }
          h2 {
            margin-top: 6px;
            margin-left: 20px;
          }
        }

        .svg-shadow {
          opacity: 0.3;
        }

        .bar-chart {
          width: 100%;
          height: 30%;
          overflow: visible;

          .bar-chart-svg {
            width: 100%;
            height: 100%;
            margin-left: 20px;
            margin-right: 20px;
            overflow: visible;
          }

          .bar-label {
            fill: white;
            text-anchor: end;
            alignment-baseline: central;
          }

          .bar-title {
            fill: $BioIndigo;
            text-anchor: start;
            alignment-baseline: baseline;
            text-transform: capitalize;
          }
        }

        .pie-chart {
          height: 46.7%;
          width: 67%;
          overflow: visible;

          .pie-chart-svg {
            width: 100%;
            height: 100%;
            overflow: visible;
          }

          .pie-piece {
            stroke-width: 2px;
          }

          .pie-piece-label {
            fill: white;
            text-anchor: middle;
          }
        }

        .results-table {
          position: absolute;
          bottom: 0;
          right: 0;
          padding-right: 20px;
          padding-bottom: 20px;
          color: $BioIndigo;
          text-align: right;

          h3 {
            margin-top: 6px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
}


/* Stats page */

.stats-page {
  color: $BioIndigo;
  background-color: lighten($BioIndigo, 50%)
  // background-color: rgba($BioIndigo, 0.1)
}

@include media("<=tablet") {
  .accordion {
    width: 100vw;

    .accordion-item {
      width: 100%;
      height: 78px;
      position: relative;
      background-color: white;

      .stats-group-header {
        height: 78px;
        width: 100%;
        cursor: pointer;
        flex-shrink: 0;
        justify-content: center;
        border-left-style: none;
        border-right-style: none;
        border-top-style: solid;
        border-bottom-style: solid;
        border-width: thin;
        border-color: rgba($BioIndigo, 0.4);
        box-shadow: 0px 3px 6px rgba($BioIndigo, 0.1);
        text-align: center;

        h1 {
          margin: 0;
        }
      }

      .stats-group {
        width: 100%;
        align-items: center;
        text-align: center;
        overflow-y: scroll;

        .stat-text {
          max-width: 300px;
        }

        .stat-header {
          font-size: 28px;
          margin-top: 0;
        }

        .stat-color-0 {
          fill: lighten($PyromanFlame, 50%);
        }

        .stat-color-1 {
          fill: $PyromanFlame;
        }

        .big-score {
          font-size: 80px;
          margin-bottom: 0;
        }

        .stat-score-bar {
          .score-bar {
            height: 8px;

            .bar {
              x: 0;
              y: 0;
              height: 100%
            }

            .full-bar {
              width: 100%;
            }
          }
        }

        .accuracy-donut {
          width: auto;
          height: 35.7%;
          margin-top: 53px;

          .donut-text {
            fill: $BioIndigo;
            dominant-baseline: middle;
            text-anchor: middle;
          }
        }

        .top-bar {
          max-width: 300px;
          height: 44%;

        }
      }
    }
  }

  .stats-instructions {
    width: 100vw;
    height: calc(100% - 234px);
    background-color: lighten($BioIndigo, 50%);

    .text {
      margin-top: 29px;
      max-width: 75%;
      opacity: 0.77;
      text-align: center;
    }
  }

  .not-active {
    background-color: lighten($BioIndigo, 50%) !important;
  }
}
