<% if @identification.correct_identification %>
  <div class="right-wrong-icon-container">
    <div class="right-wrong-icon">
      <%= image_tag("identify/identify_check-mark-icon@3x.png", alt: "Correct!", class: "center-img-resposive") %>
      <h1 class="right-wrong-header lg-header">Correct!</h1>
    </div>
  </div>
  <h2 class="right-wrong-text xl-text oblique-text">
    You correctly identified the animal.
  </h2>
<% else %>
  <div class="right-wrong-icon-container">
    <div class="right-wrong-icon">
      <%= image_tag("identify/identify_cross-mark-icon.png", alt: "Oops!", class: "center-img-resposive") %>
      <h1 class="right-wrong-header lg-header">Oops!</h1>
    </div>
  </div>
  <div class="right-wrong-text">
    <h2 class="xl-text oblique-text">
      That's not the right answer.
    </h2>
    <h2 class="xs-text">
      This card will be stored and brought back around for you to try again.
    </h2>
    <h2 class="xs-text">
      Having trouble remembering what a <span class="bold-text"><%= Photo.find(@identification.photo_id).animal.name %></span> looks like? Check out the <%= link_to "PHOTO ARCHIVE", photos_path(search: Photo.find(@identification.photo_id).animal.name), action: "get", class:"link-to-archive bold-text" %>.
    </h2>
  </div>
<% end %>
