<div class="id-card-header flex-column-center">
  <h1 class="main-header sm-header light-text bold-text"><%= @identification.name %></h1>
  <h2 class="sub-header light-text xs-text">choose from the options below</h2>
</div>
