<header class="header will-blur">
  <div class="header-menu-btn">
    <div class="menu-btn flex-column-center">
      <%= image_tag("mobile-menu-btn.svg", alt: "open menu", class: "center-img-resposive") %>
    </div>
  </div>
  <div class="header-page-title">
    <h1 class="header-text xl-text"><%= yield(:header_text) %></h1>
  </div>
  <div class="header-page-icon">
    <%= image_tag(yield(:icon), alt: "identify icon", class: "center-img-resposive") %>
  </div>
</header>
