<header class="header">
  <div class="header-menu-btn flex-column-center">
    <h1 class="header-text light-text">&#9776;</h1>
  </div>
  <div class="header-page-title">
    <h1 class="header-text light-text"><%= yield(:header_text) %></h1>
  </div>
  <div class="header-page-icon">
    <%= image_tag("identify/Identify-icon@3x.png", alt: "identify icon", class: "center-img-resposive") %>
  </div>
</header>
