<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
      <li>
        <%= message %>
      </li>
    </ul>
  </div>
<% end %>
