<% flash.each do |message_type, message| %>
  <%  if message.length > 0 %>
  <div class="alert alert-<%= message_type %>">
    <a href="#" data-dismiss="alert" class="close">×</a>
    <ul>
        <h1 class="lg-text"><%= message %></h1>
    </ul>
  </div>
  <% end %>
<% end %>
